.logo {
    margin: 20% 0 0;
    max-width: 70%;
}

.heading {
    font-size: 140%;
    margin: 10% 0 0;
}

.sub-heading {
    margin: 5% 0 10%;
}

.content {
    background: #fff url('../img/sifoo-stripe.png') top right no-repeat;
    background-size: contain;
}

.row.features .no-padding-right {
    padding-right: 0;
}

.row.features .no-padding-left {
    padding-left: 0;
}

.row img {
    height: auto;
    max-width: 100%;
}

/**
 * -------------------------------------
 * Sub Pages
 * -------------------------------------
 */

.content.sub-pages {
    background-image: none;
}

.content.sub-pages .logo {
    margin: 5% 0 0;
    max-width: 30%;
}

.content.sub-pages .heading {
    font-size: 90%;
    margin: 5% 0 0;
}

.content.sub-pages .sub-heading {
    border-bottom: dotted 1px #ccc;
    margin: 2% 0 10%;
    padding-bottom: 5%;
}